FLASK_ENV=development # Debug mode will be enabled when FLASK_ENV is development
FLASK_APP=app # app or application module is loaded by default
FLASK_RUN_PORT=8080
DATABASE_URL=mysql+mysqlconnector://username:password@localhost/dbname