{% extends 'base.html' %}

{% block content %}

<div class='explore-container'>
    <h2>Events</h2>
      <br>
    <div class="explorecards">
        <ul> 
            {% for event in evlist %} 
            <div class="card">
                <img class="card-img-top" src="{{ url_for('get_image',filename=event.flyer) }}" alt="Card image cap">
                <div class="card-body">   
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{event.start_date}}</p>
                <p class="card-text">{{event.end_date}}</p>
                <p class="card-text">{{event.venue}}</p>
                <p class="card-text">{{event.desc}}</p>
                <p class="card-text">{{event.website_url}}</p>
                <p class="card-text">{{event.status}}</p>
                <div class="card-footer">
                    <small class="text-muted">Created: {{event.created_at}}</small>
                </div>
            </div>
            <br>
            {% endfor %} 
        </ul>
        
    </div>

</div>


{% endblock %}